<div style="text-align:center"><span style="font-size:1.4cm; line-height: 1.5cm; font-family:cursive; ">Logistic Regression－準確度</span><br></div>

<span style="font-size:1cm; line-height: 2cm; font-family:cursive;">一、前置作業</span><br>

<span style="font-size:0.7cm;font-family:cursive;"> 1. 載入套件</span><br>

In [1]:
import pandas as pd

<span style="font-size:0.7cm;font-family:cursive;"> 2. 讀取資料</span><br>

In [4]:
dataset = pd.read_csv('purchase.csv')
dataset

          UID  Gender  Age  stay_time  buy
0    15624510    Male   19      19000    0
1    15810944    Male   35      20000    0
2    15668575  Female   26      43000    0
3    15603246  Female   27      57000    0
4    15804002    Male   19      76000    0
..        ...     ...  ...        ...  ...
395  15691863  Female   46      41000    1
396  15706071    Male   51      23000    1
397  15654296  Female   50      20000    1
398  15755018    Male   36      33000    0
399  15594041  Female   49      36000    1

[400 rows x 5 columns]

In [5]:

# 問題：取出特徵變數'Age','stay_time'
X = dataset[ ['Age','stay_time'] ] 

# 問題：取出目標變數 buy
y = dataset['buy']

<span style="font-size:1cm; line-height: 2cm; font-family:cursive;">二、切分資料集</span><br>

<span style="font-size:0.45cm; line-height: 0 cm;font-family:cursive;">切分成80％的訓練資料集

    - X_train : X訓練變數

    - y_train : y訓練變數
    
<span style="font-size:0.45cm; line-height: 0 cm;font-family:cursive;">切分成20％的測試資料集

    - X_test : X測試變數
    
    - y_test : y測試變數

<span style="font-size:0.7cm;font-family:cursive;"> 1. 切分資料</span><br>

In [10]:
from sklearn.model_selection import train_test_split
# random_state：亂數的排列方式
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size = 0.2,
                                                    random_state = 0)

In [11]:
X_train

     Age  stay_time
336   58     144000
64    59      83000
55    24      55000
106   26      35000
300   58      38000
..   ...        ...
323   48      30000
192   29      43000
117   36      52000
47    27      54000
172   26     118000

[320 rows x 2 columns]

<span style="font-size:0.7cm;font-family:cursive;"> 2. 導入迴歸功能</span><br>

In [12]:
from sklearn.linear_model import LogisticRegression

<span style="font-size:0.7cm;font-family:cursive;"> 3. 命名模型物件</span><br>

In [13]:
# why 這樣設定
# 因為通常後面的LogisticRegression()函數太長了。。。
# 所以會放到自己新建的變數裡面（舉例：Logistic_cf）
Logistic_cf = LogisticRegression()
# log_clf = LogisticRegression()

<span style="font-size:0.7cm;font-family:cursive;"> 4. 進行訓練</span><br>

In [14]:
# 當我有區分Training（模擬考） 與 Testing data（入學考）的時候，在模型training的時候（fit），要使用
# X_train與y_train
Logistic_cf.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

<span style="font-size:0.7cm;font-family:cursive;"> 5. 預測</span><br>

<span style="font-size:0.45cm; line-height: 1.2 cm;font-family:cursive;">
y_pred：是否購買
y_pred_proba：購買機率
</span><br>

In [15]:
# predict：根據predict_proba預測出來機率 >= 0.5，則會被判斷為1
y_pred = Logistic_cf.predict(X_test)

# predict_proba：純粹做機率的預測
y_pred_proba = Logistic_cf.predict_proba(X_test)

In [16]:
1

1

<span style="font-size:0.7cm;font-family:cursive;"> 6. 計算正確率</span><br>

In [17]:
from sklearn.metrics import accuracy_score
# y_pred：預測值 （0 or 1）
# y_test：實際值（真實的0 or 1）
accuracy = accuracy_score(y_test, y_pred)
print(accuracy)

0.725

In [ ]:
# 啟示：全部預測為0，但是準確度還有70%以上，這個是準確度的陷阱（accuracy trap）
# 所以？
# 資料科學：會多使用precision, recall等要素評估，但老闆看不懂
# 企業角度：會使用財務指標評估，利潤結構等方法...